<div class="container">
  <div class="container mt-2">
    <div class="row">
      <div class="col-12 ">
          <div *ngIf="response_status === 0">
              <div class="spinner">
                  <div class="bounce1"></div>
                  <div class="bounce2"></div>
                  <div class="bounce3"></div>
              </div>
          </div>
      </div>
  </div>
  </div>
    <div class="card border-0 mt-5" *ngIf="response_status === 1">
        <p class="createDate">{{news.createDate}}</p>
        <hr>
        <img [src]="news.photo">
        <h1>news{{news.newsHeading}}</h1>
        <p class="detail">{{news.detail}}</p>
        <p class="eventDate">Event Date from <span class="dateFont">{{news.startDate}}</span> to <span class="dateFont">{{news.endDate}} </span></p>
        <button role="button" class="border-0 boundary" (click)="executeDeleteNews()"><span class="fas fa-trash  fa-2x"></span></button> 
    </div>
    <div class="card border-0 rounded-4 mt-5 mb-1" *ngIf="response_status === 2">
      <p class="createDate">{{file_update.date}}</p>
      <hr>
      <div class="card-body">
        <h4 class="heading text-center">{{file_update.largeNewsHeading}}</h4>
        <p>{{file_update.detail}}</p>
        <a href="{{ file_update.url }}" target="_blank">{{file_update.file_name}}</a>  
      </div>
      <button role="button" class="border-0 boundary" (click)="executeDeleteLargeNews()"><span class="fas fa-trash  fa-2x"></span></button>
    </div>
</div>