@charset "utf-8";
 body {
    color: #000;
    height: 100%;
    background-color: #81D4FA;
    background-repeat: no-repeat
} 
.color{
  color:darkred;
}
.card {
    width: 100%;
    padding-right: 30px;
    box-shadow: none
}



.icon {
    width: 20px;
    height: 20px;
    cursor: pointer 
}

 @media screen and (max-width: 1056px) {
    .card {
        width: 100%
    }

    .align {
        justify-content: center !important
    }
} 



.close {
    color:red;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }
/* yha section */



body {
  background-position: center;
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  color: #505050;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-transform: none
}

.forgot {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #dfdfdf
}
.card-footer {
  background-color: #fff

}

.btn {
  font-size: 13px
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #76b7e9;
  outline: 0;
  box-shadow: 0 0 0 0px #28a745
}