<br><br><br><br><br><br>
<div *ngIf="responsse_status === 1">
    <p class="text-center">no answer available for selected question</p>
</div>
<div id="commentGroup">
  <div id="replyGroup">
    <div class="card rounded-4 mt-5 mb-1" *ngFor="let answer of answers; let i = index;">
            <div class="media">
                <div class="media-left">
                    <img class="mr-3 rounded-circle" alt="image" [src]="answer.user.profilePhoto" onerror="this.onerror=null; this.src='../assets/dist/img/blank-profile.png'"/>
                </div>
                <div class="media-body">
                    <h5 class="media-heading mt-2">
                        {{answer.user.userName}}
                    </h5>
                    <p style="margin-top: -0.7rem;"> {{answer.user.presentProfile}}</p>
                    <p class="mt fontDate pull-right">{{answer.createDate}}</p>
                </div>
            </div>
            <hr style="margin-top: -0.8rem;">
          <div class="card-body">
            <p style="margin-top: -2rem;" [innerHTML]="answer.answer"></p>
          </div>
          <div class="bg-white p-2">
              <div class="p-2 cursor" data-toggle="collapse" [attr.href]="'#collapse-' + i" (click)="showComment(answer.answerId)"><i class='far fa-comment  fa-2x' style="color: rgb(101, 214, 107);"></i><span class="ml-1">Comment</span></div>
          </div>   
          <div class="collapse" [attr.id]="'collapse-' + i" data-parent="#commentGroup">    
              <div class="card border-0 rounded-0 mb-1" style="box-shadow: 0px 8px 16px 0px white;">
                <form #commentForm="ngForm">
                  <div class="d-flex flex-row align-items-start">
                      <textarea class="ml-1 shadow-none textarea" name="comment" required minlength="10" ngModel [(ngModel)]="user_comment.comment" #comment="ngModel" placeholder="Enter your Comment"
                      [ngClass]="{'form-control': true, 
                      'is-invalid': !comment?.valid && comment?.touched}"></textarea>
                 </div>
                 <small id="f" *ngIf="comment?.errors?.required && comment?.touched" class="form-text custom-invalid-feedback color">Field is required </small>
                      <small id="f" *ngIf="comment?.errors?.minlength && comment?.touched" class="form-text custom-invalid-feedback color">comment requires atleast 10 characters.</small>
 
                  <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button" [disabled]="commentForm.invalid" (click)="saveComment(answer.answerId, commentForm)"> <span *ngIf="spinner_status == 1" class="spinner-border spinner-border-sm text-white"></span>&nbsp;&nbsp;Post comment</button></div>
                </form>
                  <div class="row">
                      <div class="col-md-12">
                          <div class="row">
                              <div class="col-md-12" id="replyGroup">
                                  <div class="media" *ngFor="let comment of commentResponse;"> 
                                      <img class="mr-3 rounded-circle" alt="Bootstrap Media Preview" [src]="comment.user_profile" onerror="this.onerror=null; this.src='../assets/dist/img/blank-profile.png'"/>                                   
                                      <div class="media-body">
                                          <div class="row">
                                              <div class="col-8">
                                                  <h5 class="mtu-1">{{comment.userName}}</h5>
                                                  <p class="mt">{{comment.present_profile}}</p> <p class="mt fontDate">{{comment.date}}</p>
                                              </div> 
                                              <div class="col-4" >                      
                                                  <div class="pull-right cursor reply action-collapse" data-toggle="collapse" [attr.href]="'#reply' + comment.commentId" (click)="showReply(comment.commentId)"><i class="fa fa-reply" style="color: blue;"></i><span class="ml-1" style="color: blue;">Reply</span></div>
                                              </div> 
                                          </div>                                          
                                          <p class="font"> {{comment.commentReply}}</p>
                                          <div class="collapse" [attr.id]="'reply' + comment.commentId"  data-parent="#replyGroup"> 
                                              <div class="media mt-4" *ngFor="let reply of replyResponse"> 
                                                  <a class="pr-3" href="#"><img class="rounded-circle" alt="Bootstrap Media Another Preview" [src]="reply.user_profile" onerror="this.onerror=null; this.src='../assets/dist/img/blank-profile.png'"/></a>
                                                  <div class="media-body">
                                                      <div class="row">
                                                          <div class="col-12">
                                                              <h5 class="mtu-1">{{reply.userName}}</h5>
                                                              <p class="mt">{{reply.present_profile}}</p> <p class="mt fontDate">{{reply.date}}</p>
                                                          </div>
                                                      </div> 
                                                      <p class="font">{{reply.commentReply}}</p>
                                                  </div>
                                              </div>
                                              <form #replyForm="ngForm">
                                                <div class="d-flex flex-row align-items-start">
                                                    <textarea class="ml-1 shadow-none textarea" name="reply" required minlength="5" ngModel [(ngModel)]="user_reply.reply" #reply="ngModel" placeholder="Enter your reply"
                                                    [ngClass]="{'form-control': true, 
                                                    'is-invalid': !reply?.valid && reply?.touched}"></textarea>
                                               </div>
                                               <small id="f" *ngIf="reply?.errors?.required && reply?.touched" class="form-text custom-invalid-feedback color">Field is required </small>
                                               <small id="f" *ngIf="reply?.errors?.minlength && reply?.touched" class="form-text custom-invalid-feedback color">requires atleast 5 characters.</small>
                                                <div class="mt-2 text-right"><button class="btn btn-primary btn-sm shadow-none" type="button" [disabled]="replyForm.invalid" (click)="saveReply(comment.commentId, replyForm)"> <span *ngIf="spinner_status == 0" class="spinner-border spinner-border-sm text-white"></span>&nbsp;&nbsp;Reply</button></div>
                                              </form>
                                          </div> 
                                      </div>
                                  </div>     
                              </div>
                          </div> 
                      </div>
                  </div>         
              </div>  
          </div>
    </div>
  </div>
</div> 
<br><br><br><br><br><br>


      <app-editor [questionId]="questionId"></app-editor>
