<div id="quick-support" class="site-quick-support section-white container-fluid">
    <div class="contact-box blue-purple-gredient">
        <div class="col-xs-12">
            <div class="box">
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-xl-4 col-sm-12 pl-0 pr-0">
                        <img class="img-fluid" src="assets/dist/img/lncthd.jpg" alt="">       
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <h5>Contacts</h5>
                        <dl class="contact-list text-white">
                            <dt><i class="fas fa-phone"></i>&nbsp;Reception:</dt>
                            <dd>0755-6185300, 0755-6185300/1/2/3/4/5</dd>
                        </dl>
                        <dl class="contact-list text-white">
                            <dt><i class="fas fa-phone"></i>&nbsp;Admission Cell:</dt>
                            <dd>7440777111, 7201800001, 0755-6185350</dd>
                        </dl>
                        <dl class="contact-list text-white">
                            <dt><i class="fas fa-phone"></i>&nbsp;T &#38; P Cell:</dt>
                            <dd>
                                    9826062730, 0755-6185341
                            </dd>
                        </dl>
                        <dl class="contact-list text-white">
                            <dt><i class="fas fa-envelope"></i>&nbsp;Email Id:</dt>
                            <dd>
                                    info@lnct.ac.in<br>
                                    admission@lnct.ac.in
                            </dd>
                        </dl>
                        <p class="text-white pt-1"><i class="fas fa-map-marker-alt"></i>&nbsp;LNCT Campus, Kalchuri Nagar, (P.O Kolua) Raisen Road, Bhopal-462022 (M.P)</p>
                    </div>
                    <div class="col-md-4 col-sm-12 col-xl-4 col-lg-4 pl-0 pr-0">
                        <img class="img-fluid" src="assets/dist/img/lnct.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>