<div class="container-fluid">
    <div class="row mt-5" *ngIf="responsse_status === 0">
        <div class="col-12 ">
            <h3 class="text-center">Wait while loading data from server . . .</h3>
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
    </div>
    <ul class="list-group" *ngIf="questions">
        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let qu of questions">
            <a [routerLink]="['/answer', qu.questionId]">
            {{qu.question}}
            </a>
            <hr style="background-color: black;">
            <hr style="background-color: black;">
        </li>

    </ul>
</div>
