<div class="container">
    <h2 class="heading"> Uppcomming Event in LNCT</h2>
</div>
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-12 ">
            <div *ngIf="response_status === 0">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
            <div *ngIf="response_status === 1">
                <p class="text-center">there is no uppcoming event in College</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 py-3">
            <ngb-carousel #carousel [showNavigationArrows]="false" [showNavigationIndicators]="false" interval="2000" [keyboard]="true" [pauseOnHover]="true" [wrap]="true">
                <ng-template ngbSlide *ngFor="let event of events">
                    <img [src]="event.photo" alt="Random slide">
                    <div class="carousel-caption" style="padding-left: 15rem;">
                        <h3 class="newsHeading">{{event.newsHeading}} </h3>
                        <p class="detail"> {{event.detail}} </p>
                    </div>
                    <p class="event">Event Date From <span class="eventDate"> {{event.startDate}} </span> to <span class="eventDate"> {{event.endDate}} </span></p>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
    <div class="d-flex justify-content-around" *ngIf="response_status === 6">
        <button class="btn btn-success"  (click)="getPrev()">
            <span class="btnText">&lt; &nbsp;&nbsp;&nbsp; Prev</span>
        </button>
        <button class="btn btn-danger" (click)="pauseCarousel()">
            <span class="btnText">Pause</span>
        </button>
        <button class="btn btn-success"  (click)="moveNext()">
            <span class="btnText">Next&nbsp;&nbsp;&nbsp; &gt;</span>
      </button>
    </div>
</div>